<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 >MyCoolShop</h2>
    <tr>
        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="listing: ${listing}">
                        <td th:text="${listing.title}">Name</td>
                        <td th:text="${listing.price}">Price</td>
                        <td th:text="${listing.description}">Desc</td>
                        <td><img th:src="@{'image/' + ${listing.image}}" alt="image" height="100px" width="100px"></img></td>
                        <td><a th:href="@{'/save/' + ${listing.id}}">Add to Cart</a></td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
        <div align = "left" >
            <h3><a  th:href="@{'/cart'}">Cart</a></h3>
        </div>

    </tr>

    </tbody>
    </table>

    </div>
</body>
</html>